# reference:
# https://github.com/rancher/k3s-ansible/blob/master/roles/k3s/master/templates/k3s.service.j2
[Unit]
Description=Kubernetes Master
After=network-online.target

[Service]
# reduce memory consumption of k3s server
Type=notify
ExecStart=/usr/local/bin/k3s server --bind-address {{ private_ip }} --node-ip {{ private_ip }} --node-taint node-role.kubernetes.io/master:NoSchedule --flannel-backend host-gw
KillMode=process
Delegate=yes
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
