
server {
	listen 80;
	server_name chat.jonathan-boudreau.com;

	location / {
		return 301 https://fingerboard.jonathan-boudreau.com$request_uri;
	}
}

server {
	listen 443 ssl;

	server_name chat.jonathan-boudreau.com;
	ssl_certificate /etc/letsencrypt/live/jonathan-boudreau.com/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/jonathan-boudreau.com/privkey.pem;


	location / {
		proxy_pass http://localhost:8000;
	}

}
