# source: https://www.elastic.co/guide/en/elasticsearch/client/curator/current/ex_delete_indices.html
client:
  hosts:
    - "http://{{hostvars[groups['es'][0]][ufw_default_interface].ipv4.address}}:9200"
